body {
  background: rgb(233, 232, 232);
}

.form-project {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.name {
  padding: 7px;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1.5px solid rgb(207, 212, 217);
  border-radius: 5px;
  outline: none;
}
.create {
  background: rgb(99, 105, 233);
}
